@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --max-width-base: 1330px;

  --font-montserrat: "Montserrat", sans-serif;

  --color-brand-sky-50: #e6f3f9;
  --color-brand-sky-100: #9bdeff;
  --color-brand-sky-200: #1ab1dc;
  --color-brand-sky-300: #2b9dd4;
  --color-brand-sky-400: #2774a2;
  --color-brand-blue: #4065af;
  --color-brand-blue-100: #0088ff;
  --color-brand-blue-200: #00446d;
  --color-brand-red: #ff4646;
  --color-brand-gray: #ababab;
  --color-brand-gray-200: #d9d9d9;

  --color-brand-gray-300: #c1c1c1;
  --color-brand-body: #4a5565;

  --background-image-hero: url("./assets/images/bg-hero.png");
  --background-image-water: url("./assets/images/water-2.png");

  --background-image-btn: radial-gradient(
    50% 50% at 50% 50%,
    #32befb 0%,
    #3383d0 100%
  );
  --background-image-areas-of-activity: linear-gradient(
    180deg,
    #e6f3f9 0%,
    rgba(255, 255, 255, 0) 50%
  );
  --background-image-areas-of-activity-2: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );

  --radius-brand-lg: 0.625rem;
  --radius-brand-2xl: 1.25rem;

  --shadow-box: 0px 0px 9.83px 0px #8c8c8c40;
  --shadow-project: 0px 0px 10.49px 0px #8c8c8c40;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-montserrat tracking-[-1.5%];
  }

  h2 {
    @apply font-light text-2xl lg:text-[2.5rem];
  }

  button {
    @apply cursor-pointer;
  }
}

@utility container-base {
  @apply max-w-base mx-auto px-5 md:px-16 lg:px-5;
}

@utility flex-base {
  @apply flex items-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility smooth {
  @apply transition-all duration-200;
}

@keyframes expandFromCenter {
  from {
    left: 50%;
    width: 0;
  }
  to {
    left: 0;
    width: 100%;
  }
}

@layer utilities {
  .nav-active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 1.5rem;
    width: 100%;
    height: 0.1875rem;
    background-color: var(--color-brand-sky-200);
    animation: expandFromCenter 0.3s ease-out forwards;
  }
}
